@import "../variables";

.header {
  padding: 0.5rem 1.25rem;
  background: $primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    margin-bottom: 0;
    object-fit: contain !important;
    object-position: left center !important;
  }
  button {
    background: none;
    color: white;
    border: none;
    cursor: pointer;
    display: inline-flex;
    padding: 0.25rem;
    border-radius: 0.25rem;
    transition: 0.25s ease;
    background: #0001;
    &:hover {
      background: #0002;
    }
    &:focus {
      outline: none;
    }
  }
  .closeBtnContainer button {
    color: $primary;
  }
}
.logoLink {
  height: 3rem;
  width: 16rem;
  position: relative;
  border: none;
}
.active {
  border-color: currentColor;
}
.menu a {
  font-weight: bold;
}
@media (max-width: 768px) {
  .header__nav {
    &.hide {
      display: none;
    }
    position: fixed;
    padding: 2rem;
    background: #fff;
    z-index: 5;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    a {
      font-size: 24px;
      margin-bottom: 1rem;
    }
  }
}
.socials {
  display: flex;
  align-items: center;
  a {
    padding: 0.25rem;
    background: $gray2;
    margin: 0 0.5rem;
    display: inline-flex;
  }
}
@media (min-width: 768px) {
  .header {
    .socials,
    button {
      display: none;
    }
  }
  .header__nav a {
    margin-left: 2rem;
  }
  .menu {
    a {
      border-color: #fff8;
      color: white;
      &:hover {
        border-color: #fff;
      }
    }
  }
}
