.not-found__container {
    padding: 0 2rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    a {
      display: inline-flex;
      text-transform: uppercase;
      padding: 1rem 3rem;
      &:hover {
        background: #F3F4F6;
      }
    }
}