$primary: #4F46E5;

$gray1: #F9FAFB;
$gray2: #F3F4F6;
$gray3: #E5E7EB;
$gray4: #D1D5DB;
$gray5: #9CA3AF;
$gray6: #6B7280;
$gray7: #4B5563;
$gray8: #374151;
$gray9: #1F2937;
$gray10: #111827;

$fontSans: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";  
$fontSerif: "Roboto Slab", Georgia, Cambria, "Times New Roman", Times, serif; 
$fontMono: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono", "Liberation Mono", Menlo, Monaco, Courier, monospace;
