@import "../variables";

.blog__hero {
  height: 30vh;
  margin-bottom: 0;
}
.blog__info {
  padding: 1.5rem 1.25rem;
  text-align: center;
  max-width: 768px;
  margin: 0 auto;
  h1 {
    margin-bottom: 0.66rem;
  }
  h3 {
    margin-bottom: 0;
  }
}
.blog__footer {
  padding: 1.5rem 1.25rem;
  margin: 3rem 0;
  text-align: center;
  a {
    display: inline-flex;
    text-transform: uppercase;
    padding: 1rem 3rem;
    &:hover {
      background: $gray2;
    }
  }
}
@media (min-width: 576px) {
  .blog__hero {
    height: 40vh;
  }
}
@media (min-width: 768px) {
  .blog__hero {
    height: 60vh;
  }
}
